* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-bottom: 2px solid #313244;
}

#workspaces button {
    padding: 0 5px;
    color: #6c7086;
    border-radius: 4px;
}

#workspaces button.active {
    color: #cba6f7;
    background-color: #313244;
}

#workspaces button:hover {
    background-color: #45475a;
    color: #cdd6f4;
}

#clock, #cpu, #memory, #pulseaudio, #network, #battery, #tray {
    background-color: #313244;
    color: #cdd6f4;
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 6px;
}
